.background{
    background-image: url(../assets/kids-crosswalk-road-safety-zebra-traffic-light.png);
    background-repeat: no-repeat;
    background-size:contain;
    width: 1329px;
    height: 920px;
}